In [19]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
df = pd.read_csv("Covid Live.csv")
df.head()

,#,"Country,\nOther",Total\nCases,Total\nDeaths,New\nDeaths,Total\nRecovered,Active\nCases,"Serious,\nCritical",Tot Cases/\n1M pop,Deaths/\n1M pop,Total\nTests,Tests/\n1M pop,Population
0,1,USA,"98,166,904","1,084,282",NaN,"94,962,112","2,120,510","2,970","293,206","3,239","1,118,158,870","3,339,729","334,805,269"
1,2,India,"44,587,307","528,629",NaN,"44,019,095","39,583",698,"31,698",376,"894,416,853","635,857","1,406,631,776"
2,3,France,"35,342,950","155,078",NaN,"34,527,115","660,757",869,"538,892","2,365","271,490,188","4,139,547","65,584,518"
3,4,Brazil,"34,706,757","686,027",NaN,"33,838,636","182,094","8,318","161,162","3,186","63,776,166","296,146","215,353,593"
4,5,Germany,"33,312,373","149,948",NaN,"32,315,200","847,225","1,406","397,126","1,788","122,332,384","1,458,359","83,883,596"

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   #                  230 non-null    int64
 1   Country,
Other     230 non-null    object
 2   Total
Cases        230 non-null    object
 3   Total
Deaths       225 non-null    object
 4   New
Deaths         3 non-null      float64
 5   Total
Recovered    214 non-null    object
 6   Active
Cases       215 non-null    object
 7   Serious,
Critical  147 non-null    object
 8   Tot Cases/
1M pop  228 non-null    object
 9   Deaths/
1M pop     223 non-null    object
 10  Total
Tests        214 non-null    object
 11  Tests/
1M pop      214 non-null    object
 12  Population         228 non-null    object
dtypes: float64(1), int64(1), object(11)
memory usage: 23.5+ KB

In [23]:
# Rename columns for better readability
df.columns = [
    "Index", "Country", "TotalCases", "TotalDeaths", "NewDeaths", "TotalRecovered",
    "ActiveCases", "SeriousCritical", "CasesPerMillion", "DeathsPerMillion",
    "TotalTests", "TestsPerMillion", "Population"
]

In [25]:
df.head()

,Index,Country,TotalCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,SeriousCritical,CasesPerMillion,DeathsPerMillion,TotalTests,TestsPerMillion,Population
0,1,USA,"98,166,904","1,084,282",NaN,"94,962,112","2,120,510","2,970","293,206","3,239","1,118,158,870","3,339,729","334,805,269"
1,2,India,"44,587,307","528,629",NaN,"44,019,095","39,583",698,"31,698",376,"894,416,853","635,857","1,406,631,776"
2,3,France,"35,342,950","155,078",NaN,"34,527,115","660,757",869,"538,892","2,365","271,490,188","4,139,547","65,584,518"
3,4,Brazil,"34,706,757","686,027",NaN,"33,838,636","182,094","8,318","161,162","3,186","63,776,166","296,146","215,353,593"
4,5,Germany,"33,312,373","149,948",NaN,"32,315,200","847,225","1,406","397,126","1,788","122,332,384","1,458,359","83,883,596"

In [27]:
# List of numeric columns that need conversion
numeric_cols = ["TotalCases", "TotalDeaths", "TotalRecovered", "ActiveCases", 
                "SeriousCritical", "CasesPerMillion", "DeathsPerMillion", 
                "TotalTests", "TestsPerMillion", "Population"]

# Convert to numeric: Remove commas and convert to appropriate data types
for col in numeric_cols:
    df[col] = df[col].astype(str).str.replace(",", "").str.strip()  
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Index             230 non-null    int64
 1   Country           230 non-null    object
 2   TotalCases        230 non-null    int64
 3   TotalDeaths       225 non-null    float64
 4   NewDeaths         3 non-null      float64
 5   TotalRecovered    214 non-null    float64
 6   ActiveCases       215 non-null    float64
 7   SeriousCritical   147 non-null    float64
 8   CasesPerMillion   228 non-null    float64
 9   DeathsPerMillion  223 non-null    float64
 10  TotalTests        214 non-null    float64
 11  TestsPerMillion   214 non-null    float64
 12  Population        228 non-null    float64
dtypes: float64(10), int64(2), object(1)
memory usage: 23.5+ KB

In [31]:
# Fill missing values for key columns
df["TotalDeaths"].fillna(0, inplace=True)
df["TotalRecovered"].fillna(0, inplace=True)

# Compute Active Cases if missing
df["ActiveCases"].fillna(df["TotalCases"] - (df["TotalDeaths"] + df["TotalRecovered"]), inplace=True)

# Fill Serious Critical cases with 0 (assumption: missing means not critical)
df["SeriousCritical"].fillna(0, inplace=True)

# Drop 'NewDeaths' column due to excessive missing values
df.drop(columns=["NewDeaths"], inplace=True)

# Drop rows where Population is missing (essential for per capita metrics)
df = df.dropna(subset=["Population"])

print(df.isnull().sum())  # Check remaining missing values

Index                0
Country              0
TotalCases           0
TotalDeaths          0
TotalRecovered       0
ActiveCases          0
SeriousCritical      0
CasesPerMillion      0
DeathsPerMillion     5
TotalTests          14
TestsPerMillion     14
Population           0
dtype: int64

In [33]:
# Recalculate DeathsPerMillion if Population is available
df.loc[df["DeathsPerMillion"].isna(), "DeathsPerMillion"] = (
    df["TotalDeaths"] / df["Population"] * 1_000_000
)

# Fill missing DeathsPerMillion with 0 if still NaN
df["DeathsPerMillion"].fillna(0, inplace=True)

# Compute median TestsPerMillion for reference
median_tests_per_million = df["TestsPerMillion"].median()

# Fill missing TotalTests using the median per capita rate
df.loc[df["TotalTests"].isna(), "TotalTests"] = (median_tests_per_million / 1_000_000) * df["Population"]

# Recalculate TestsPerMillion based on updated TotalTests
df["TestsPerMillion"] = (df["TotalTests"] / df["Population"]) * 1_000_000

# Fill any remaining NaN values with 0 as a final step
df.fillna(0, inplace=True)

# Confirm no missing values remain
print(df.isnull().sum())

Index               0
Country             0
TotalCases          0
TotalDeaths         0
TotalRecovered      0
ActiveCases         0
SeriousCritical     0
CasesPerMillion     0
DeathsPerMillion    0
TotalTests          0
TestsPerMillion     0
Population          0
dtype: int64

In [37]:
df

,Index,Country,TotalCases,TotalDeaths,TotalRecovered,ActiveCases,SeriousCritical,CasesPerMillion,DeathsPerMillion,TotalTests,TestsPerMillion,Population
0,1,USA,98166904,1084282.0,94962112.0,2120510.0,2970.0,293206.0,3239.0,1.118159e+09,3.339729e+06,3.348053e+08
1,2,India,44587307,528629.0,44019095.0,39583.0,698.0,31698.0,376.0,8.944169e+08,6.358571e+05,1.406632e+09
2,3,France,35342950,155078.0,34527115.0,660757.0,869.0,538892.0,2365.0,2.714902e+08,4.139547e+06,6.558452e+07
3,4,Brazil,34706757,686027.0,33838636.0,182094.0,8318.0,161162.0,3186.0,6.377617e+07,2.961463e+05,2.153536e+08
4,5,Germany,33312373,149948.0,32315200.0,847225.0,1406.0,397126.0,1788.0,1.223324e+08,1.458359e+06,8.388360e+07
...,...,...,...,...,...,...,...,...,...,...,...,...
223,224,Wallis and Futuna,761,7.0,438.0,316.0,0.0,69295.0,637.0,2.050800e+04,1.867419e+06,1.098200e+04
225,226,Niue,80,0.0,80.0,0.0,0.0,49322.0,0.0,1.413965e+03,8.717415e+05,1.622000e+03
226,227,Vatican City,29,0.0,29.0,0.0,0.0,36295.0,0.0,6.965215e+02,8.717415e+05,7.990000e+02
227,228,Tuvalu,20,0.0,0.0,20.0,0.0,1658.0,0.0,1.051843e+04,8.717415e+05,1.206600e+04
228,229,Western Sahara,10,1.0,9.0,0.0,0.0,16.0,2.0,5.458505e+05,8.717415e+05,6.261610e+05

In [39]:
# Calculate Case Fatality Rate (CFR) and Recovery Rate
df["CFR"] = (df["TotalDeaths"] / df["TotalCases"]) * 100
df["RecoveryRate"] = (df["TotalRecovered"] / df["TotalCases"]) * 100

# Ensure no division errors (replace NaN with 0)
df["CFR"].fillna(0, inplace=True)
df["RecoveryRate"].fillna(0, inplace=True)

In [41]:
df

,Index,Country,TotalCases,TotalDeaths,TotalRecovered,ActiveCases,SeriousCritical,CasesPerMillion,DeathsPerMillion,TotalTests,TestsPerMillion,Population,CFR,RecoveryRate
0,1,USA,98166904,1084282.0,94962112.0,2120510.0,2970.0,293206.0,3239.0,1.118159e+09,3.339729e+06,3.348053e+08,1.104529,96.735364
1,2,India,44587307,528629.0,44019095.0,39583.0,698.0,31698.0,376.0,8.944169e+08,6.358571e+05,1.406632e+09,1.185604,98.725619
2,3,France,35342950,155078.0,34527115.0,660757.0,869.0,538892.0,2365.0,2.714902e+08,4.139547e+06,6.558452e+07,0.438781,97.691661
3,4,Brazil,34706757,686027.0,33838636.0,182094.0,8318.0,161162.0,3186.0,6.377617e+07,2.961463e+05,2.153536e+08,1.976638,97.498697
4,5,Germany,33312373,149948.0,32315200.0,847225.0,1406.0,397126.0,1788.0,1.223324e+08,1.458359e+06,8.388360e+07,0.450127,97.006599
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,224,Wallis and Futuna,761,7.0,438.0,316.0,0.0,69295.0,637.0,2.050800e+04,1.867419e+06,1.098200e+04,0.919842,57.555848
225,226,Niue,80,0.0,80.0,0.0,0.0,49322.0,0.0,1.413965e+03,8.717415e+05,1.622000e+03,0.000000,100.000000
226,227,Vatican City,29,0.0,29.0,0.0,0.0,36295.0,0.0,6.965215e+02,8.717415e+05,7.990000e+02,0.000000,100.000000
227,228,Tuvalu,20,0.0,0.0,20.0,0.0,1658.0,0.0,1.051843e+04,8.717415e+05,1.206600e+04,0.000000,0.000000
228,229,Western Sahara,10,1.0,9.0,0.0,0.0,16.0,2.0,5.458505e+05,8.717415e+05,6.261610e+05,10.000000,90.000000

In [43]:
df.isnull().sum()

Index               0
Country             0
TotalCases          0
TotalDeaths         0
TotalRecovered      0
ActiveCases         0
SeriousCritical     0
CasesPerMillion     0
DeathsPerMillion    0
TotalTests          0
TestsPerMillion     0
Population          0
CFR                 0
RecoveryRate        0
dtype: int64

In [45]:
file_path = "Covid_Cleaned.csv"

In [49]:
df.to_csv(file_path, index=False)

print(f"Cleaned dataset saved to: {file_path}")

Cleaned dataset saved to: Covid_Cleaned.csv

In [51]:
!pip install mysql-connector-python pandas sqlalchemy pymysql

Requirement already satisfied: mysql-connector-python in c:\users\abc\anaconda3\lib\site-packages (9.2.0)
Requirement already satisfied: pandas in c:\users\abc\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: sqlalchemy in c:\users\abc\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: pymysql in c:\users\abc\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\abc\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\abc\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\abc\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\abc\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\abc\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\abc\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: six>=1.5 in c:\users\abc\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [53]:
from sqlalchemy import create_engine

In [55]:
engine = create_engine("mysql+pymysql://root:Krishna%4024@localhost/construct_week")
print("Connected")

Connected

In [57]:
df.to_sql("covid_table",con = engine,if_exists="replace",index=False)
print("Data inserted successfully")

Data inserted successfully